{% extends 'food_API/base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %}</title>
    </head>
  <body>
    {% block body %}
    <br>
      {% for item in form %}
        <div class="row">
          <div class="col-md-3 offset-md-2">
            <img class="card" height="150px" src="{{ item.item_image }}"/>
          </div>
          <div class="col-md-4">
            <h3>{{ item.item_name }}</h3>
            <h5>{{ item.item_desc }}</h5>
            <h6>${{ item.item_price }}</h6>
            <h6>Added by: {{ item.user_name }}</h6>
          </div>
          <div class="col-md-2">
            <a href="{% url 'food_API:detail' item.id %}" class="btn btn-success">Details</a>
          </div>
        </div><hr>


        <!-- <h2>Name: <a href="{% url 'food_API:detail' item.id %}">{{ item.item_name }}</a></h2>
        <h5>Description: {{ item.item_desc }}</h5>
        <h5>Price: {{ item.item_price }}</h5><br><hr><br> -->
      {% endfor %}
    {% endblock %}
  </body>
</html>
